{% extends "base.html.twig" %}
{% block title %}About US{% endblock %}
 {% block body%}
     <div class="about">
         <div class="container">
             <div class="text-center">
                 <h2>Quelqu'un veut suivre</h2>
                 <div class="col-md-10 col-md-offset-1">
                     <p>Le portail de la formation " présente une plateforme de vente des formations et des softwares.
                         Donc, il doit être en mesure de proposer une formation de qualité aux visiteurs du site,
                         Encore, il dispose des outils à utiliser dans le domaine de l’informatique.
                         Le backend du site doit également permettre à l’utilisateur de profiter plusieurs services..</p>
                 </div>

                 <div class="col-md-6 col-sm-6 col-xs-6">
                     <div class="btn-gamp"><a href="#">Apprendre</a></div>
                 </div>
                 <div class="col-md-6 col-sm-6 col-xs-6">
                     <div class="gamp-btn"><a href="#">Shop</a></div>
                 </div>

             </div>
         </div>
     </div>
     <hr>

     <section id="about-us">
         <div class="container">
             <div class="text-center wow fadeInDown">
                 <h2>Skills</h2>
                 <p>Améliorer vos compétences en apprendre plusieurs langage de programmation <br>Apprendre de nouvelles aptitudes et developper vos projets personnels </p>
             </div>
             <div class="skill-wrap clearfix">
                 <div class="row">
                     <div class="col-sm-3">
                         <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                             <div class="joomla-skill">
                                 <p><em>85%</em></p>
                                 <p>Java</p>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-3">
                         <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                             <div class="html-skill">
                                 <p><em>95%</em></p>
                                 <p>HTML</p>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-3">
                         <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                             <div class="css-skill">
                                 <p><em>80%</em></p>
                                 <p>CSS</p>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-3">
                         <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                             <div class="wp-skill">
                                 <p><em>90%</em></p>
                                 <p>Wordpress</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

             <!-- our-team -->
             <div class="team">
                 <div class="text-center wow fadeInDown">
                     <h2>Equipe des Formateurs</h2>
                     <p>Notre equipe des formateurs ont prouvées leur succés dans le domaine d'informatiques grace aux leur carriéres pleine des experiences <br>Nous sommes continuellement à la recherche de formateurs experts. N'hésitez pas à nous contacter par e-mail !</p>
                 </div>

                 <div class="row clearfix">
                     <div class="col-md-4 col-sm-6">
                         <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                             <div class="media">
                                 <div class="pull-left">
                                     <a href="#"><img class="media-object" src="img/man1.jpg" alt=""></a>
                                 </div>
                                 <div class="media-body">
                                     <h4>Jhon Doe</h4>
                                     <h5>Expert</h5>
                                     <ul class="tag clearfix">
                                         <li class="btn"><a href="#">Python</a></li>
                                         <li class="btn"><a href="#">Angular</a></li>
                                         <li class="btn"><a href="#">Unix</a></li>
                                         <li class="btn"><a href="#">Photoshop</a></li>
                                     </ul>

                                     <ul class="social_icons">
                                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     </ul>
                                 </div>
                             </div><!--/.media -->
                             <p>Après avoir obtenu son diplôme d'architecture en 1993, Yacine intègre une agence d'architecture à Paris. Par la suite, il se consacre exclusivement à la formation et au conseil dans le domaine de la conception, du dessin et de la publication assistée par ordinateur.</p>
                         </div>
                     </div><!--/.col-lg-4 -->


                     <div class="col-md-4 col-sm-6 col-md-offset-2">
                         <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                             <div class="media">
                                 <div class="pull-left">
                                     <a href="#"><img class="media-object" src="img/man2.jpg" alt=""></a>
                                 </div>
                                 <div class="media-body">
                                     <h4>Brad Batesole</h4>
                                     <h5>Formateur sur Java et Android</h5>
                                     <ul class="tag clearfix">
                                         <li class="btn"><a href="#">Android</a></li>
                                         <li class="btn"><a href="#">java</a></li>
                                         <li class="btn"><a href="#">Unix</a></li>
                                         <li class="btn"><a href="#">Symfony</a></li>
                                     </ul>
                                     <ul class="social_icons">
                                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     </ul>
                                 </div>
                             </div><!--/.media -->
                             <p>Issu de la génération Y, Guillaume est depuis toujours passionné d'informatique et de nouvelles technologies.
                                 Il intègre l'école d'ingénieur SUPINFO en 2010 et, du fait de ses nombreux stages en développement informatique qui lui constituent une solide expérience, il intègre rapidement des entreprises reconnues dans le milieu de la convergence numérique.</p>
                         </div>
                     </div><!--/.col-lg-4 -->
                 </div> <!--/.row -->
                 <div class="row team-bar">
                     <div class="first-one-arrow hidden-xs">
                         <hr>
                     </div>
                     <div class="first-arrow hidden-xs">
                         <hr> <i class="fa fa-angle-up"></i>
                     </div>
                     <div class="second-arrow hidden-xs">
                         <hr> <i class="fa fa-angle-down"></i>
                     </div>
                     <div class="third-arrow hidden-xs">
                         <hr> <i class="fa fa-angle-up"></i>
                     </div>
                     <div class="fourth-arrow hidden-xs">
                         <hr> <i class="fa fa-angle-down"></i>
                     </div>
                 </div> <!--skill_border-->

                 <div class="row clearfix">
                     <div class="col-md-4 col-sm-6 col-md-offset-2">
                         <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                             <div class="media">
                                 <div class="pull-left">
                                     <a href="#"><img class="media-object" src="img/man3.jpg" alt=""></a>
                                 </div>

                                 <div class="media-body">
                                     <h4>Photographe et formateur PAO</h4>
                                     <h5>Infographiste 3D freelance</h5>
                                     <ul class="tag clearfix">
                                         <li class="btn"><a href="#">Web</a></li>
                                         <li class="btn"><a href="#">3D</a></li>
                                         <li class="btn"><a href="#">Animation</a></li>
                                         <li class="btn"><a href="#">Photoshop</a></li>
                                     </ul>
                                     <ul class="social_icons">
                                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     </ul>
                                 </div>
                             </div><!--/.media -->
                             <p>De formation industrielle, spécialisé dans la construction mécanique, Jean-Baptiste a vite compris l'intérêt que présentait la 3D et l'ampleur qu'elle était appelée à prendre dans le secteur industriel et surtout dans les médias.</p>
                         </div>
                     </div>
                     <div class="col-md-4 col-sm-6 col-md-offset-2">
                         <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                             <div class="media">
                                 <div class="pull-left">
                                     <a href="#"><img class="media-object" src="img/man4.jpg" alt=""></a>
                                 </div>
                                 <div class="media-body">
                                     <h4>subscribeActiver les notifications
                                         Jean-Baptiste Baron</h4>
                                     <h5>Founder and CEO</h5>
                                     <ul class="tag clearfix">
                                         <li class="btn"><a href="#">Web</a></li>
                                         <li class="btn"><a href="#">Ui</a></li>
                                         <li class="btn"><a href="#">Ux</a></li>
                                         <li class="btn"><a href="#">Photoshop</a></li>
                                     </ul>
                                     <ul class="social_icons">
                                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     </ul>
                                 </div>
                             </div><!--/.media -->
                             <p>Brad a travaillé pendant plus de douze ans à la croisée du développement commercial, du marketing et des médias sociaux. À l’âge de 15 ans, il doit ses premiers succès à une publication sur les jeunes entrepreneurs qui lui était consacrée, dans Entrepreneur Magazine. </p>
                         </div>
                     </div>
                 </div>	<!--/.row-->
             </div><!--section-->
         </div><!--/.container-->
     </section><!--/about-us-->
 {% endblock %}