{% extends "base.html.twig" %}
{% block title %}Softwares{% endblock %}
 {% block body%}

     <div class="services">
         <div class="container">
             <div class="text-center">
                 <h2>Se Former Autrement</h2>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                     <i class="fa fa-heart-o"></i>
                     <h3>Design</h3>
                     <p>Il est très facile d’apprendre le design web depuis chez vous grâce à nos formations vidéo. Apprenez l’HTML5, les CSS et JavaScript. Maîtrisez WordPress et initiez-vous aux dernières tendances du design web.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                     <i class="fa fa-cloud"></i>
                     <h3>Marketing</h3>
                     <p>Formez-vous sur un aspect spécifique du marketing, ou apprenez tout sur le SEO, les réseaux sociaux, l’e-mail marketing, etc. Planifiez une stratégie commerciale gagnante en utilisant les outils les plus performants.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                     <i class="fa fa-book"></i>
                     <h3>Compétences Professionnelles</h3>
                     <p>Passez à la vitesse supérieure dans le développement de votre carrière. Améliorez vos compétences en communication, négociation, résolution de conflits, gestion du temps, management et leadership.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                     <i class="fa fa-gear"></i>
                     <h3>Outils Bureautiques</h3>
                     <p>Maîtrisez les outils bureautiques que vous utilisez quotidiennement, ou apprenez à utiliser des logiciels phares en entreprise pour décrocher un nouvel emploi. Ainsi, formez-vous sur Microsoft Excel, SharePoint, Google Docs, etc.</p>
                 </div>
             </div>
         </div>
         <div class="text-center">
             <div class="container">
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                     <i class="fa fa-heart-o"></i>
                     <h3>IT</h3>
                     <p>Il est très facile d’apprendre le design web depuis chez vous grâce à nos formations vidéo. Apprenez l’HTML5, les CSS et JavaScript. Maîtrisez WordPress et initiez-vous aux dernières tendances du design web.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                     <i class="fa fa-cloud"></i>
                     <h3>Audio et 3D</h3>
                     <p>Formez-vous sur un aspect spécifique du marketing, ou apprenez tout sur le SEO, les réseaux sociaux, l’e-mail marketing, etc. Planifiez une stratégie commerciale gagnante en utilisant les outils les plus performants.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                     <i class="fa fa-book"></i>
                     <h3>Mobile</h3>
                     <p>Passez à la vitesse supérieure dans le développement de votre carrière. Améliorez vos compétences en communication, négociation, résolution de conflits, gestion du temps, management et leadership.</p>
                 </div>
                 <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                     <i class="fa fa-gear"></i>
                     <h3>Sharepoint</h3>
                     <p>Maîtrisez les outils bureautiques que vous utilisez quotidiennement, ou apprenez à utiliser des logiciels phares en entreprise pour décrocher un nouvel emploi. Ainsi, formez-vous sur Microsoft Excel, SharePoint, Google Docs, etc.</p>
                 </div>
             </div>
         </div>
     </div>


 {% endblock %}